.ex2{
    border: 1px solid black;
    margin-top: 20px;
    width:30%;
    display: grid;
    grid-template-columns: 30% 70%;
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size:15px;
    color:green;
}
.head-ex2{
    border: 1px solid black;
    grid-column: span 2;
    padding: 20px;
}
.nav-ex2{
    border: 1px solid black;
    grid-column: span 2;
    padding: 20px;

}
.footer-ex2{
    border: 1px solid black;
    padding: 20px;
    grid-column: span 2;
}
.index-ex2{
    padding: 20px;
    border: 1px solid black;
}
.content-ex2{
    padding: 20px;
    border: 1px solid black;
}
h4{
    margin:0;
}