.ex7{
    display: inline-block;
    border: 3px solid black;
    margin-top: 5%;
    font-size: 20px;
    width:15%;
    height:30%;
    text-align: center;
}
.ex7 header{
    background-color:#ffc9ff ;
    padding: 15px;
}
.ex7 nav{
    background-color:#9a14ec ;
    padding: 6px;
}
.ex7 main{
    background-color:white ;
    padding: 25px;
}
.ex7 footer{
    background-color: #cb87f5;
    padding:15px;
}